<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

       <context:annotation-config/>

       <context:component-scan base-package="com.black"/>

       <bean name="mainFrameBean" class="com.black.frames.MainFrame" init-method="init">
              <property name="fileMenu" ref="fileMenuBean"/>
              <property name="editMenu" ref="editMenuListener"/>
       </bean>

       <bean name="newFileListenerBean" class="com.black.listeners.NewFileListener"/>

       <bean name="fileMenuBean" class="com.black.menus.FileMenu" init-method="init"/>

       <bean name="openListenerBean" class="com.black.listeners.OpenListener"/>

       <bean name="saveListenerBean" class="com.black.listeners.SaveListener"/>

       <bean name="saveAsListenerBean" class="com.black.listeners.SaveAsListener"/>

       <bean name="formFrame" class="com.black.frames.FormFrame" init-method="init"/>

       <bean name="optionListenerBean" class="com.black.listeners.OptionsListener"/>

       <bean name="editMenuListener" class="com.black.menus.EditMenu" init-method="init"/>

       <bean name="COMSetupFrameBean" class="com.black.frames.COMSetupFrame" init-method="init"/>

       <bean name="ModBusConnectBean" class="com.black.support.ModBusConnect"/>

       <bean name="ActionOnBarBean" class="com.black.support.ActionOnBar" init-method="init"/>

       <bean name="timerSetBean" class="com.black.listeners.TimerSetBarListener" init-method="init"/>

       <bean name="timerDeleteBean" class="com.black.listeners.TimerDeleteBarListener" init-method="init"/>
</beans>